
html {
	height:100%;
}

body {
	margin: 0;
	padding: 0;
	font: 13px / 1.4 Helvetica, Meiryo, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	/*border: solid 1px #ddd;*/
	border-radius: 3px;
	/*background-color: #EDECEC;*/
	background-color: #FAFAFA;

}

.octicon {
	width: 16px;
	text-align: center;
}

#menu {
	float: left;
	width: 200px;
	height: 100%;
	/*border-right: solid 1px #ddd;*/
}

#header {
	background-color: #E6F1F6;

	color: #333;
	color: #213f4d;

    font-size: 14px;
    line-height: 38px;
    font-weight: bold;

    padding-left: 10px;

	border: 1px solid #c9e6f2;
	border-radius: 3px 0 0 0;


	
}

#mylistgroup {
	overflow: auto;
	/*border-right: solid 1px #ddd;*/
	/*overflow-y: scroll; */

	background-color: #EDECEC;
	/*box-shadow: 0 1px 1px rgba(0,0,0,0.15);*/

}

.mylist {
	background-color: white;
	padding-top: 	10px;
	padding-bottom: 8px;
	padding-left:	9px;
	cursor: pointer;

	border-bottom: solid 1px #eee;
	border-left: solid 1px #ddd;
	border-right: solid 1px #ddd;

	color: #111;

/*	font-family: Helvetica, Meiryo;
	font-size: 12px;
	color: #4078c0;*/

	/*font-weight: bold;*/

}

.mylist:last-child {
	border-bottom: solid 1px #ddd;

	border-radius: 0 0 3px 3px;
}

.mylist:before {
	font-family: 'octicons';
	content:"\f016";
	font-size: 16px;
	float:left;
	width: 17px;
	height: 17px;

	
	margin-right: 6px;
	/*background-image: url('/image/folder.svg');*/
	background-size: 17px;

	position: relative;
	top: -3px;

	color: #80a6cd;

/*
	margin-right: 5px;
	background-image: -webkit-image-set(url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAASCAYAAAC5DOVpAAABLElEQVR4Xs2Ur0oEURhHz10UwQkmg6DNZvQFDAafYsHiGgwGg8lg1S5jEcEiNvEBLPZFQbC5yWCSdZf5ez/5wQUHlpW7sqAHPhi+4R4OA3ecmTEtWkyRGYDj7Y0dIGWUztHF/flEMon2DvcRSZIgXl+euL66TYF4maoWV1bpPT4gnPOIls9YXlpQtSEiqlWW7h60wQAMMwQYrG0Gj4V9eFm89zg9uVS1xjVlmBnOV4DhzIPG+/Bc43wddjUif3v+4Zt5QLKGCEmqofZhJKwZT7OsLiVSBTQlEoQy8s8IWS1ZARKVA7AgUiGqNMj6ABEyHaoKKPvfNRJoMMgHBOLKUFmVAUESkOjvrtNH9475uVliGeblWFnn7KabMiHrW21GMDPs99AclQn37/5nX4eJ9e7eNnr7AAAAAElFTkSuQmCC) 1x);
	background-size: 19px 18px;*/



	background-repeat: no-repeat;
}

.mylist:hover {
	/*background: rgba(0,0,0,.08);*/
	background-color: #F7F7F7;
}

.mylist:active {
	/*background: rgba(0,0,0,.15);*/
	background-color: #EEEEEE;
}

.mylist .id {
	display: none;
}

#mylistitem {
	overflow-x: auto;
	overflow-y: scroll; 
	height: 549px;
	/*background-color: #EDECEC;*/
	background-color: #FCFCFC;

    text-shadow: 0 1px 0 #fff;
	

	/* for kakuyomu */
	width: 100%;
    float: left;
}

.logoback {
	background-image: url('../image/ff.png');
	background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
}

#mylistheader {
	/*background: linear-gradient( to bottom, #427DC4, #427DC4 50%, #2C6EBD 50%, #2C6EBD );*/
	/*background: linear-gradient(to bottom, #427DC4, #2C6EBD);*/
	/*background-color: #f2f9fc;*/
	background-color: #E6F1F6;
	background-color: #F5F5F5;

	/*border-bottom: solid 1px #2d53af;*/
	    font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Meiryo, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	border: 1px solid #ddd;
	border-left: 0;
	padding-top: 9px;
	padding-bottom: 8px;
	text-align: center;

	border-radius: 0 3px 0 0;

	/*overflow: hidden;*/
}

#headericon{
	display: inline-block;
	display: none;
	background-image: url('/image/nico.png');
	background-size: 18px 17px;
	width: 18px;
	height: 17px;
	background-repeat: no-repeat;
	margin-left: 13px;


	position: absolute;
	margin-left: 201px;
	left: 10px;
	margin-top: 2px;
	vertical-align: sub;
}

#mylisttitle {
	display: inline;
	font-size: 15px;
	font-weight: bold;
	margin-left: 3px;
	color: #333;

    position: relative;
    top: -1px;
}

#play {
	display: inline;
	display: none;
	width: 200px;
	height: 25px;
    position: absolute;
    right: 20px;
    top: 9px;
	cursor: pointer;

	/* gradient button*/
	text-align: center;
	background: linear-gradient(#fcfcfc, #eee);
    border-radius: 3px;
    border: solid 1px #ccc;
}

#play:after {
	content: '連続再生する';
	color: #333;
	font-weight: bold;
	position: relative;
	top: 4px;
	text-shadow: 0 1px 0 white;
}


#play:hover {
	background-image: linear-gradient(#eee, #ddd);
}

#play:active {
	background-color: #dcdcdc;
	box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.20);
}

.video {
	background-color: white;
	border: solid 1px #ddd;
	/*padding: 2px 0 2px 7px;*/

	/*width: 28%;*/
	width: 160px;
	/*width: 200px;*/
	float: left;

	margin: 10px;

	border-radius: 3px;
	    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.video:hover {
	/*background-color: #efefef;*/
}

/*.video:first-child {
	padding-top: 4px;
}*/

.thumbnail {
	/*float: left;*/
	width:			 160px;
	height:			 90px;
	background-size: 160px 90px;
	border-radius: 3px 3px 0 0;
}

.thumbnail:hover {
	-webkit-filter: brightness(0.85);
}

.info {
	position: relative;
	/*height: 70px;*/
	/*margin-left: 107px;*/
	vertical-align: middle;
}

.title {
	/*margin-right: 30px;*/
	/*font-size: 1.116em;*/
	font-weight: bold;
	margin: 5px;
	margin-top: 8px;
	height: 54px;

	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;

	color: #4078c0;
}

.title .playurl {
	color: #4078c0;
	text-decoration: none;
}

.title .playurl:hover {
	color: #4078c0;
	text-decoration: underline;
}

ul {
	padding: 5px;
	margin: 0;
	color: #999;
	font-size: 12px;

		border-top: solid 1px #eee;
	background-color: #fefefe;
}

li {
	display: inline-block;
	margin-right: 5px;
	text-align: right;
}


li > .value {
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0 1px 0 white;
}

li > .icon {
	font-size: 14px;
}

li.play_count {
	margin-left: 1px;
}

li.comment_count {
	margin-right: 3px;
}

li > .icon.fa {
	font-size: 11px;
	/*margin-right: 2px;*/
}

.octicon {
	width: 12px;
}

.upload_time {
	color: #888;
	font-size: 11px;
	margin-top: 3px;
}

.clear {
	clear: both;
}

.nowloading {
	background-image: url('/image/loading.gif');
	background-size: 65px;
	background-repeat: no-repeat;
	background-position: center;
}

/* Gmail scroll bar */
::-webkit-scrollbar {
	width: 9px;
	background: #eee; /* same color as the background */
}
::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,0.2);
	border-top: 1px solid rgba(0,0,0,0.1);
	border-bottom: 1px solid rgba(0,0,0,0.07);
	border-left: 1px solid rgba(0,0,0,0.1);
}